<div class="container">
  <%= render("layouts/errors", :object => @line) %>
</div>

<div class="form-group">
  <%= form_for(@line) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <h3>Assign Stations:</h3>
      <%= hidden_field_tag "line[station_ids][]", nil %>
      <% Station.all.each do |line| %>
        <%= check_box_tag "line[station_ids][]", line.id, @line.station_ids.include?(line.id), id: dom_id(line) %>
        <%= label_tag dom_id(line), line.name %><br>
      <% end %>
    </div>
    <%= f.submit(:class => "btn btn-primary btn-xs") %>
  <% end %>
</div>
